
#cookie-consent-container {
  position: fixed;
  bottom: 0;
  left: 4;
  padding: 8px 16px;
  background: #ddd;
  font-size: 16px;
  font-family: neusa-next-std-compact, sans-serif;
  font-weight: 300;

  a {
    color: #b1236e;
    text-decoration: underline;
    margin-right: 12px;
  }

  button {
    border: 0;
    background-color: #b1236e;
    color: #fff;
    padding: 4px 12px 2px;
  }

  button#cookie-consent-no {
    border: 1px solid #b1236e;
    background-color: #fff;
    color: #b1236e;
  }

}